@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');


:root {
    --main-color: #A084CA;
}

body {
    font-family: 'Epilogue', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

}

nav h1{
    text-align: center;
    margin-top: 0;
    background-color: var(--main-color);
    padding: 40px;
    color: white;
}

input, label {
    display: block;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    margin: 10px auto;
}

#output-box {
    margin: 10px auto;
    font-weight: bold;
}

label {
    color: var(--main-color);
    font-weight: bold;
}


#submit-btn {
    background-color: var(--main-color);
    color:white;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    margin: 15px auto;
}

#submit-btn:hover{
    cursor: pointer;
}

footer{
    margin-top: 100px;
}

footer a {
    text-decoration: none;
    color: var(--main-color);
}
